[submodule "quotes-service"]
	path = quotes-service
	url = git@github.com:mgunter-pivotal/quotes-service.git
[submodule "accounts-service"]
	path = accounts-service
	url = git@github.com:mgunter-pivotal/accounts-service.git
[submodule "portfolio-service"]
	path = portfolio-service
	url = git@github.com:mgunter-pivotal/portfolio-service.git
[submodule "web-ui"]
	path = web-ui
	url = git@github.com:mgunter-pivotal/web-ui.git
